language: java

sudo: false

before_install:
- openssl aes-256-cbc -K $encrypted_ff76609892c5_key -iv $encrypted_ff76609892c5_iv
  -in keys.tar.enc -out keys.tar -d
- tar xvf keys.tar
- cat exported_key.gpg | sudo apt-key add -
- cat exported_secret_key.asc | sudo apt-key add -

script: mvn cobertura:cobertura

after_success:
- bash <(curl -s https://codecov.io/bash)

env:
  global:
  - secure: qcQ/F7L/9rveziCV1qMHWuOZ22gEVzHnF+LVAmB6OQaR53GefGBRAnMR9oRAfhGf8UsryutP414SeIc80TSBjqiMvsnV+9whA+Imcnu+amu/PZwTaDEHUqeNTmyx6AreiFgKatD21lVnNnwVfL2NLiQ+OntlV9NTaoev6hwBMjbdGiAHpAzRnx93E3Q/Tofq/gKgNwc2T/nkc3tUiIzwcqZRFFnKiepmqnJQHqCTMpjL4YPpbGZ2z82gaIMVMHgA/sDClNFGP1171V5oVF/L100GczSlptHE4LLwcaZ7yD1pNLr8ABSaZ0oi7/OM5pteHv17n3Q4w9fLNO4KQJqVYWOt+wq359eIKAUtxshJDKozxdt4ZTV9SL3QvdILYVx1hISSazBGDsPet2s41p6TZU5TN2dlw2f/R+uGWJ/cKTjfvfPf/TbigmXE0DU6wDga6sSvYRVzREEn9EUKFRsipTzDHGu0TQcvcdQfCMKMp5p7rWXElg+EcTbV6E5nduJBWcjo2FL/rW0Wh1ktBUHj44sRmivu1swVD4mqtSmH4KpabrZkFDhzQv8Hb/7gb39Lm3eXexeu7vsUyKofIIX1k1UcSognzHOhjgJkssN+EupEKLkZVK3hFXu/oNieA5BauhGHdniAsUGTKG0MqsyJkCv2GVvq3u77XfymmOt4WvQ=
  - secure: iIG8xhChpoBdj3vlEby4tQW7mWXtJ33WKyQ74NFWIxne/J9jNPfOvhmoIlpZFS1jmRka+chsyV8/3KNh8N0aJ8LjK+p3Dk+1cZBayeob27+CfLoZugeMi5kd9nlYEZTaC8wogrq0iC1qsALr+pd0ENj2ohSm8FYtrrdKBsd0QEd+KW6vPbeWlBSfUBSIku5+sS6KoNATDQGkD6blqqfHnnhDIVA1lZE84GucxGzUMPHTltp2VVI/TwGah+ipWq3ztagzQArkofQBGwXYmt3+puTHhruwn+XQ8I12ZEQdvkFgj6Uk+rL8Rx0ol1x+vol44DfUtn1rbseD4oiLqOBfMgNrjR51kDadmYzo8Wxi+QatfLOLMWUNwdrAmNeWWZGHNZgXiTlelK68nl3edbJGWUOatGv9qQe5HjPYRAKPth0f1NSRPkCFCabRdpI01Rgdy4go16Vw35zV+mZPjA8qfZ70SkOzBdRjiCvc5pAZzIpqM7mjT2P5CGzQLroSgfSHTrWK/CYQ8Bv5PNmJyaydkq8zrIozpG+D3YVaDHNi7ZyxXlFGeocAkvJWPwFAbyeW2wRQJOIZn+lBsWON+DExU44pSYgaAsSVoBX2xQNnfF0RgwrRgb04JMhFfJ9OE1DYLoivjHTvaJoPTe2mDqzAlbPSNG8SxWF1shOARD3Etx4=
  - secure: fp/RVU5mdPGIbOBcb/aG+0xIWzFe91gOaxwpAmQ44XwM1bjgQzNsuDWV6y9np4XAMhcSWZD+Xe7pWbjqZQdc8ghfLH9vLiin/NYbNJH4mZZ2M4rav+0uwUmp60paSZfkB8M5fq3pLcXkcZLbZcvggE4wIqWulY6Pz++bIPHIO2x8+KG3cxRZ0CHzCfpn+HKrzWEc+zhBMWUhnsKxgT9AewO5mil51LT9Hmw8IA1MKlBzyfn/1uhH99am8pTwYLgWYppGyBeFQGG3nv5xtF44IrTHHw5qUtBARpnS+j7I6dt+T2pd2rSKDIp0AwHDdfOjqY+QAH4NcYjYIDHf47uyTy9u27SGJI44+X/BD7LpfASl7IKi/r6KUcejvUIV0gWzXmILtBzNeokmXgK+Z2QiDTPKKKiGFyLd6u6QC6wq4wDEmUW3s/GUuA15yKRi0C87VzZgdGhbvjjJcvhH4aV+5af9GZrVrA/VSWFnVvvRRVYXAKEuxM6KZGlcTlAOOkedWPDq1bMPvRCbhgvoBmtMNZi9GAf2UxpTcTOgb7cOFMWEByX8WKzg2+BvdIdPp5AoWWOsG3umHhxIdUaPYc0sQOar6So+Mbgf/L+o2nPWMLN7Tw6hPxxLvz7h4a2aM2S7jGkaygqNwFr0YwUpszI+WKCWgxsQ2PDzppKo8n+jsqw=
